body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #20a8d6, #005495);
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  #navbar {
    background: linear-gradient(to left, #ff6f00, #ffa040);
    padding: 15px 30px;
    color: white;
  }

  #telaInicial, #formularioContainer {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-custom {
    width: 100%;
    max-width: 420px;
    border-radius: 1rem;
  }

  .link-item {
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .link-item:hover {
    background-color: #f1f1f1;
  }

  .error {
    color: red;
    font-size: 14px;
  }

  .btn-warning {
    background-color: #2200ff;
    color: white;
    border: 2px solid transparent;
    border-radius: 15px;
    padding: 10px 45px;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
  }

  .btn-warning:hover {
    background-color: white;
    color: #2200ff;
    border: 2px solid #2200ff;
    border-radius: 15px;
    padding: 10px 45px;
    font-weight: bold;
  }