html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #20a8d6, #005495);
  display: flex;
  flex-direction: column;
}

#navbar {
  background: linear-gradient(to left, #ff6f00, #ffa040);
  padding: 15px 30px;
  color: white;
}

#telaInicial,
#formularioContainer,
#telaLinks {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  min-height: calc(100vh - 80px);
  margin-top: 80px;
}

.card-custom,
.form-card {
  width: 100%;
  max-width: 420px;
  border-radius: 1rem;
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-card {
  max-width: 800px;
}

.link-item {
  cursor: pointer;
  transition: background-color 0.3s;
}

.link-item:hover {
  background-color: #f1f1f1;
}

.btn-warning {
  background-color: #2200ff;
  color: white;
  border-radius: 15px;
  padding: 10px 45px;
  font-weight: bold;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

.btn-warning:hover {
  background-color: white;
  color: #2200ff;
  border: 2px solid #2200ff;
}

.btn-confirmar {
  padding: 10px 45px;
  font-weight: bold;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}

.btn-confirmar:hover {
  opacity: 0.9;
}

.btn-info {
  background-color: #ff8800;
  border-radius: 15px;
  font-weight: bold;
  border: 2px solid transparent;
}

.btn-info:hover {
  background-color: white;
  color: #ff8800;
  border: 2px solid #ff8800;
}

.btn-sair{
  background-color: #ff8800;
  border-radius: 15px;
  font-weight: bold;
  border: 2px solid transparent;
}
.btn-sair:hover {
  background-color: red;
  color: white;
  border: 2px solid white;
}